<h2>Approve Locations</h2>
<br>
<% for loc in @locations %>
  <p>
    <%= link_to loc.description, loc %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'approve', approve_location_path(loc), :method => :put, :class => 'btn btn-success' %>
    <br>
    <%= loc.category %><br>
    <%= loc.address %>
  </p>
<% end %>
