<h2><i style="display: inline; vertical-align: baseline;" class="icon-user"></i> <%= @user.username %></h2>

<p>
... has posted <%= pluralize @user.locations.count, 'location' %>.
</p>

<% if user_signed_in? && @user == current_user %>
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
<% end %>
