<!--h2>About Us</h2-->

<h2>Welcome to Yumster!</h2>
<br>
<div class="row-fluid">
  <div class="span7">
    <p>
    Yumster is a guide to the food resources available for free in every city.
    Yumster relies on ordinary people sharing knowledge of what is available in their neighborhood.
    </p>
    <p>
    Feel free to make contact --
    <%= link_to '@yumster_mm', "http://twitter.com/yumster_mm" %> on Twitter, or email <%= mail_to "yumster@yumster.co" %>.
    </p>
    <p>
    If you're interested in what makes this site tick, the source code is available <%= link_to 'on Github', 'http://github.com/chatterton/yumster' %>.
  </div>
</div>
