<h2>Welcome to Yumster!</h2>
<br>
<div class="row-fluid">
  <div class="span7">
    <p>
    Yumster is a guide to the food resources available for free in every city.
    Yumster relies on ordinary people sharing knowledge of what is available in their neighborhoods.
    </p>
    <p>
    Feel free to make contact --
    <%= link_to '@yumster_mm', "http://twitter.com/yumster_mm" %> on Twitter, or email <%= mail_to "yumster@yumster.co" %>.
    </p>
    <p>
    If you're interested in what makes this site tick, the source code is available <%= link_to 'on Github', 'http://github.com/chatterton/yumster' %>.
  </div>
  <div class="span5">
    <a class="twitter-timeline" href="https://twitter.com/yumster_mm" data-widget-id="303973923740073984">Tweets by @yumster_mm</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
