<br>
<div class="row-fluid">
  <div class="span4">
    <%= image_tag 'love.jpg', :class => 'img-rounded' %>
  </div>
  <div class="span8">
    <h1>Yumster!</h1>
    <p>
    Yo dog. This is yumster.
    </p>
  </div>
</div>
