/* remove glyphicons paths before importing bootstrap */
$iconSpritePath: '';
$iconWhiteSpritePath: '';

@import "bootstrap";
@import "bootstrap-responsive";
@import "yumster";
@import "forem";

.container {
  margin: 0 auto;
  max-width: 800px;
}

header {
  top: 0px;
  margin-top: 12px;
  width: 100%;
  height: 75px;

  img.brand_image {
    width: 120px;
    float: left;
  }

  ul.brand_nav {
    float: right;
    list-style: none;
    margin-top: 3px;
    margin-left: 0;
  }

  .brand_inner {
    height: 31px;
    border-bottom: 2px solid $COLOR_WELL_WHITE;
    margin-left: 70px;
  }
  .brand_inner_fp {
    @extend .brand_inner;
    margin-left: 0px;
  }

  li {
    display: inline;
  }
  li.divider-vertical {
    border-right: 2px solid $COLOR_WELL_WHITE;
  }
  .mobile-only {
    @media screen and (min-width: $BREAKPOINT) {
      display: none;
    }
  }
  .desktop-only {
    @media screen and (max-width: $BREAKPOINT) {
      display: none;
    }
  }

  /* copied from bootstrap */
  .brand_nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: $COLOR_TEXT_BROWN;
  }
  .brand_nav > .active > a,
  .brand_nav > .active > a:hover,
  .brand_nav > .active > a:focus {
    color: $COLOR_TEXT_BROWN;
  }
}

.hover_container:hover {
  color: $COLOR_TEXT_BROWN;
  cursor: pointer;
  a {
    color: $COLOR_TEXT_BROWN;
    text-decoration: underline;
  }
}
