/* remove glyphicons paths before importing bootstrap */
$iconSpritePath: '';
$iconWhiteSpritePath: '';

@import "bootstrap";
@import "bootstrap-responsive";

.container {
  margin: 0 auto;
  max-width: 800px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
