$default-text: #444;
$lighter-text: #888;
$bar1-midbg: #222;
$bar1-bottombg: #222;
$light-bg1: #111;
$mid-bg1: #ababab;
$mid-bg1-highlight: #a9a9a9;
$visited-text: black;

body{
  font: 12pt "Helvetica Neue", Helvetica;
  color: $default-text;
  margin-left: 20%;
  margin-right: 20%;
  background: #fff;
  line-height: 120%;
}

a {
  color: #0074FF;
}

label {
  display: block;
}

#forums {
  border: 1px solid #ddd;
}

#forums, .topics {
  .title {
    font-size: 175%;
  }

  thead tr th {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
  }

  tbody td {
    background: white;
  }
}

#forum, #topic {
  position: relative;
  .secondary-nav{
    position: absolute;
    right: 0;
    top: 0;
  }
  .description{
    color: $lighter-text;
    font-style: oblique;
  }
  menu{
    padding-left: 0;
    a{
      border: 1px solid #ddd;
      background: #eee;
      padding: .35em;
      display: inline-block;
      -webkit-border-radius: 5px;
      color: #0074FF;
      font-weight: bold;
      text-decoration: none;
      margin: 0;
      &:hover{
        background-color: #0074FF;
        color: #eee;
        border: 1px solid #0258BF;
      }
    }
  }
}

#topic, #forum {
  h2{
    padding: 0.5em 0;
    position: relative;
    color: #232323;
    margin: 0;
    a{
      text-decoration: none;
      color: #232323;
      &:hover{
        text-decoration: underline;
      }
    }
    a.reply{
      margin-right: 1em;
      font-weight: normal;
      position: absolute;
      right: 0;
      padding: .5em;
      background-color: #fff;
      font-size: .5em;
      text-decoration: none;
      &:hover{
        // background-color: $light-bg1;
      }
    }
  }
}

form {
  label {
    font-size: 80%;
    abbr {
      display: none;
    }
  }
  input, textarea {
    padding: .5em;
    font-size: 110%;
  }
}

.moderation {
  clear: both;
  font-size: .8em;
  background: #9C0000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  width: 90%;
  font-weight: bold;
  padding: 5px;
}

#posts{
  // http://www.quirksmode.org/css/clearing.html
  overflow: hidden;
  width: 100%;

  .odd .contents {
    background-color: #ffffff;
  }
  .even .contents{
    background-color: #efefef;
  }
  .post{
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
    min-width: 35em;
    min-height: 75px;
    clear: both;

    .user{
      float: left;
      font-size: .8em;
      min-width: 75px;
      min-height: 100px;
      padding: .5em 1em;
      .username{
        padding-bottom: .7em;
      }
      .icon{
        background: transparent url(http://placekitten.com/50/50) no-repeat;
        width: 50px;
        height: 50px;
        text-align :right;
        // display: inline-block;
      }
    }
    .contents{
      min-height: 100px;
      width: 80%;
      border-left: 1px solid $mid-bg1;
      padding: 1em 1em;
      float: right;

      span.in_reply_to {
        font-size: 80%;
      }

      p, ul, pre, blockquote, span.in_reply_to {
        clear: both;
        float: left;
        padding: 5px;
      }

      p {
        margin: .5em 0em 0em 0em;
      }

      blockquote {
        -webkit-border-radius: 5px;
        padding: 0;
        width: 83%;
      }

      ul {
        margin-left: 2em;
        p {
          padding: 0;
          margin: 0;
          float: none;
        }
      }

      pre {
        width: 90%;
        background: #dfdfdf;
      }

      time{
        float: left;
        clear: both;
        padding: 5px;
        color: $lighter-text;
        font-size: .7em;
        display: inline-block;
      }

      &:hover .actions{
      }
      .actions{
        position: absolute;
        top: -10px;
        right: 0px;
        float: right;
        -webkit-border-radius: 5px;
        list-style-type: none;
        li{
          a{
            padding: .5em;
            margin-bottom: .4em;
            font-size: .7em;
            text-align :center;
            display: block;
            border: 1px solid #ddd;
            background: #eee;
            -webkit-border-radius: 5px;
            color: #0074FF;
            font-weight: bold;
            text-decoration: none;
            &:hover{
              background-color: #0074FF;
              color: #eee;
              border: 1px solid #0258BF;
            }
          }
        }
      }
    }
  }
}

table.subdued{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  a{
    text-decoration: none;
    &:visited{
      color: $visited-text;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  td, th{
    padding: .5em;
  }
  thead{
    th{
      background-color: $bar1-midbg;
      font-weight: normal;
      text-align: left;
    }
  }
  tbody{
    color: $lighter-text;
    .subject{
    }
    .started-by{
      font-size: .7em;
      color: $lighter-text;
    }
    .latest-post{
      font-size: .7em;
      width: 80px;
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .posts-count, .views-count{
      font-size: .8em;
      width: 80px;
    }
  }
}

.pages{
  .page{
    display: inline-block;
    padding: .25em;
    &.current{
      background-color: $light-bg1;
    }
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.lock.icon{
  width: 24px;
  height: 24px;
  background: transparent url(/assets/forem/lock_icon.png) 0 0;
  display: inline-block;
}

.pin.icon{
  width: 9px;
  height: 15px;
  background: transparent url(/assets/forem/pin_icon.png) 0 0;
  display: inline-block;
}

#admin_link {
  text-align: center;
}
