$BREAKPOINT: 767px;

$MAP_HEIGHT_DESKTOP: 400px;
$MAP_HEIGHT_MOBILE: 240px;

$PUSHPIN_MARGIN_DESKTOP: 169px;
$PUSHPIN_MARGIN_MOBILE: 89px;

$COLOR_BACKGROUND_WHITE: #fefce7;
$COLOR_WELL_WHITE: #f4f2e1;
$COLOR_TEXT_BROWN: #361c0d;
$COLOR_CYAN: #a9dde1;
$COLOR_GOLDENROD: #ffe30e;
$COLOR_APPLE_RED: #ef3c24;
$COLOR_PRIMARY_GREEN: #96c941;
$COLOR_LINK_GREEN: #7fa045;

$FONT_SIZE_SMALL: 75%;
