@import 'globals';
@import 'yumster';
@import 'custom';

/* fix for push-left on div with a left margin from bootstrap */
.row-fluid .no-left-margin {
  margin-left: 0px;
}

#pushpin_img {
  position: absolute;
  top: $PUSHPIN_MARGIN_DESKTOP;
  left: -5px; /* magic number that makes it line up Just So */

  /* image is 64 pixels high. resize for retina etc. */
  height: 32px;
  width: auto;

  @media screen and (max-width: $BREAKPOINT) {
    top: $PUSHPIN_MARGIN_MOBILE;
  }
}

#map_canvas {
  width: 100%;
  height: $MAP_HEIGHT_DESKTOP;

  /* fix for bootstrap */
  img {
    max-width: none;
  }

  @media screen and (max-width: $BREAKPOINT) {
    height: $MAP_HEIGHT_MOBILE;
  }
}

.map_container {
  @media screen and (max-width: $BREAKPOINT) {
    margin-bottom: 8px;
  }
}

.form-section-description:first-child:first-letter {
  font-size: 4em;
  padding-top: .20em;
  padding-right: .13em;
  padding-bottom: .20em;
  float: left;
  color: $COLOR_PRIMARY_GREEN;
}

.form-section-description em {
  font-weight: bold;
  font-size: 110%;
  font-style: normal;
}

#location_submit {
  @media screen and (max-width: $BREAKPOINT) {
    margin-top: .5em;
  }
}

li.location_item {
  @extend .hover_container;
  &:hover {
    background-color: lighten($COLOR_WELL_WHITE, 5%)
  }
  border-bottom: 2px solid $COLOR_WELL_WHITE;
}

img.location_marker {
  float: left;
  padding: 8px;
}

#nearby_results {
  list-style: none;
  margin-left: 0px;
  border-top: 2px solid $COLOR_WELL_WHITE;
}

p.location_content {
  padding-top: 6px;
}

p.location_content .location_tips {
  font-size: $FONT_SIZE_SMALL;
  color: $COLOR_CYAN;
  float: right;
  padding-right: 5px;
  padding-top: 4px;
}

#map_reload {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: $BREAKPOINT) {
    margin-top: 0px;
  }
}

.map_address_search {
  margin-bottom: 10px;
}
.map_address_search_bottom {
  margin-top: 10px;
}
#map_address_input {
  width: 79%;
}
#map_address_button {
  width: 50px;
}

#character_count {
  font-size: $FONT_SIZE_SMALL;
  margin-left: 10px;
}

.character_count_red {
  color: $COLOR_APPLE_RED;
}
.character_count_green {
  color: $COLOR_PRIMARY_GREEN;
}

textarea#tip_text {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}

.tip_list {
  list-style: none;
  margin-left: 0px;
  border-top: 2px solid $COLOR_WELL_WHITE;
}
.tip_item {
  border-bottom: 2px solid $COLOR_WELL_WHITE;
  margin-top: 10px;
  position: relative;
}
.tip_username {
  font-weight: bold;
}
.tip_time {
  font-size: 85%;
}
.tip_text {
  clear: right;
}
.tip_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
