@import 'globals';
@import 'yumster';

/* fix for push-left on div with a left margin from bootstrap */
.row-fluid .no-left-margin {
  margin-left: 0px;
}

#pushpin_img {
  position: absolute;
  top: $PUSHPIN_MARGIN_DESKTOP;
  left: -5px; /* magic number that makes it line up Just So */

  /* image is 64 pixels high. resize for retina etc. */
  height: 32px;
  width: auto;

  @media screen and (max-width: $BREAKPOINT) {
    top: $PUSHPIN_MARGIN_MOBILE;
  }
}

#map_canvas {
  width: 100%;
  height: $MAP_HEIGHT_DESKTOP;

  /* fix for bootstrap */
  img {
    max-width: none;
  }

  @media screen and (max-width: $BREAKPOINT) {
    height: $MAP_HEIGHT_MOBILE;
  }
}

.form-section-description:first-child:first-letter {
  font-size: 4em;
  padding-top: .20em;
  padding-right: .13em;
  padding-bottom: .20em;
  float: left;
  color: $COLOR_PRIMARY_GREEN;
}

.form-section-description em {
  font-weight: bold;
  font-size: 110%;
  font-style: normal;
}

#location_submit {
  @media screen and (max-width: $BREAKPOINT) {
    margin-top: .5em;
  }
}

li.location_item {
  border-bottom: 2px solid $COLOR_WELL_WHITE;
  &:first-child {
    border-top: 2px solid $COLOR_WELL_WHITE;
  }
}

#nearby_results {
  list-style: none;
}
