@import 'constants';
@import 'yumster';

img.brand_tagline {
  margin-top: -20px;
  margin-bottom: 20px;
  @media screen and (max-width: $BREAKPOINT) {
    width: 90%;
    margin-bottom: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

img.illustration {
  width: 132px;
  float: left;
}

.main_activity {
  h3 {
    text-align: center;
    font-size: 1.5em;
    a {
      color: $COLOR_PRIMARY_GREEN;
    }
  }
  @media screen and (max-width: $BREAKPOINT) {
    clear: left;
  }
}

.main_activity h3 {
  @media screen and (max-width: $BREAKPOINT) {
    padding-top: 24px;
  }
}

.main_activity p {
  margin-left: 35px;
  margin-right: 20px;
  font-size: .9em;
  @media screen and (max-width: $BREAKPOINT) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
