@import 'globals';
@import 'yumster';

img.brand_tagline {
  margin-top: -20px;
  margin-bottom: 20px;
  @media screen and (max-width: $BREAKPOINT) {
    height: 120px;
    margin-top: -30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.brand_explanation {
  margin-top: -50px;
  @media screen and (max-width: $BREAKPOINT) {
    margin-top: 10px;
  }
}

.hover_container:hover {
  color: $COLOR_TEXT_BROWN;
  cursor: pointer;
  a {
    color: $COLOR_TEXT_BROWN;
    text-decoration: underline;
  }
}

img.illustration {
  width: 135px;
}

p.breathing-room {
  padding-top: 14px;
}
p.align-right {
  text-align: right;
}
