/* Built with http://stylebootstrap.info/index.php?style=se8gYBdX7mh3b7Nzacp1D */
@import 'constants';

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $COLOR_TEXT_BROWN;
  background-color: white;
}

a {
  color: $COLOR_LINK_GREEN;
} 

p {
  margin-bottom: 10px;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $COLOR_TEXT_BROWN;
}

.page-header {
  border-bottom: 1px solid $COLOR_CYAN;
}

hr {
  border-top: 1px solid $COLOR_CYAN;
  border-bottom: 1px solid $COLOR_WELL_WHITE;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: $COLOR_TEXT_BROWN;
  border: 1px solid $COLOR_CYAN;
}

.well {
  background-color: $COLOR_WELL_WHITE;
}

.btn {
  color: $COLOR_TEXT_BROWN;
  background-image: -moz-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -ms-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffce8), to($COLOR_WELL_WHITE));
  background-image: -webkit-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -o-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fffce8, endColorstr='#'f4f2e1, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: $COLOR_TEXT_BROWN;
  background-color: $COLOR_WELL_WHITE;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -ms-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($COLOR_CYAN), to(#729496));
  background-image: -webkit-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -o-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: linear-gradient(top, $COLOR_CYAN, #729496);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'a9dde1, endColorstr='#'729496, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #729496;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, $COLOR_GOLDENROD, #f89406);
  background-image: -ms-linear-gradient(top, $COLOR_GOLDENROD, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($COLOR_GOLDENROD), to(#f89406));
  background-image: -webkit-linear-gradient(top, $COLOR_GOLDENROD, #f89406);
  background-image: -o-linear-gradient(top, $COLOR_GOLDENROD, #f89406);
  background-image: linear-gradient(top, $COLOR_GOLDENROD, #f89406);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffe30e, endColorstr='#'f89406, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, $COLOR_APPLE_RED, #bd362f);
  background-image: -ms-linear-gradient(top, $COLOR_APPLE_RED, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($COLOR_APPLE_RED), to(#bd362f));
  background-image: -webkit-linear-gradient(top, $COLOR_APPLE_RED, #bd362f);
  background-image: -o-linear-gradient(top, $COLOR_APPLE_RED, #bd362f);
  background-image: linear-gradient(top, $COLOR_APPLE_RED, #bd362f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ef3c24, endColorstr='#'bd362f, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, $COLOR_PRIMARY_GREEN, $COLOR_LINK_GREEN);
  background-image: -ms-linear-gradient(top, $COLOR_PRIMARY_GREEN, $COLOR_LINK_GREEN);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($COLOR_PRIMARY_GREEN), to($COLOR_LINK_GREEN));
  background-image: -webkit-linear-gradient(top, $COLOR_PRIMARY_GREEN, $COLOR_LINK_GREEN);
  background-image: -o-linear-gradient(top, $COLOR_PRIMARY_GREEN, $COLOR_LINK_GREEN);
  background-image: linear-gradient(top, $COLOR_PRIMARY_GREEN, $COLOR_LINK_GREEN);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'96c941, endColorstr='#'7fa045, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: $COLOR_LINK_GREEN;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -ms-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($COLOR_CYAN), to(#729496));
  background-image: -webkit-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: -o-linear-gradient(top, $COLOR_CYAN, #729496);
  background-image: linear-gradient(top, $COLOR_CYAN, #729496);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'a9dde1, endColorstr='#'729496, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #729496;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #578757;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -ms-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffce8), to($COLOR_WELL_WHITE));
  background-image: -webkit-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: -o-linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  background-image: linear-gradient(top, #fffce8, $COLOR_WELL_WHITE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fffce8, endColorstr='#'f4f2e1, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #68351a;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: $COLOR_BACKGROUND_WHITE;
  border-right: 1px solid #68351a;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #542b15;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $COLOR_TEXT_BROWN;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: $COLOR_BACKGROUND_WHITE;
  background-color: $COLOR_CYAN;
}

.label-important,
.badge-important {
  background-color: $COLOR_LINK_GREEN;
}

.label-warning,
.badge-warning {
  background-color: $COLOR_APPLE_RED;
}

.label-success,
.badge-success {
  background-color: $COLOR_GOLDENROD;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}

a:hover {
  color: $COLOR_TEXT_BROWN;
}
