<h2>All locations</h2>
<br>
<% @locations.each do |loc| %>
  <%= link_to loc.description, loc %><br>
  Latitude: <%= loc.latitude %><br>
  Longitude: <%= loc.longitude %><br>
  <br>
<% end %>
<br>
<div><strong><%= link_to "Add a new location", new_location_path %></strong></div>
<br>
