<h2>Nearby Locations</h2>
<br>
<%= gmaps(@g4r_options) %>
<br>
<div id="locations_container"></div>
<div id="location_container" style="display: none;">
  <div class="location well">
    <a class="location_link" /><br>
    Category: <span class="location_category"></span><br>
    <br>
  </div>
</div>

<%= link_to "", near_locations_path, :id => "nearby_ajax_address" %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var GeoMarker
var add_position_indicator = function() {
  if(!GeoMarker) {
    GeoMarker = new GeolocationMarker()
    GeoMarker.setCircleOptions({fillColor: '#808080'})
    GeoMarker.setMap(Gmaps.map.map)
  }
}

var map_idle = function() {
  window.Yumster.Locations.Near.mapIdle(Gmaps.map.map)
}

Gmaps.map.callback = function() {
  google.maps.event.addListener(Gmaps.map.map, 'idle', map_idle)
  add_position_indicator()
}

  </script>
<% end %>
