<h2>Nearby Locations</h2>
<br>
<%= gmaps(@g4r_options) %>
<br>
<div id="locations_container"></div>
<div id="location_container" style="display: none;">
  <div class="location well">
    <a class="location_link" /><br>
    Category: <span class="location_category"></span><br>
    <br>
  </div>
</div>

<%= link_to "", near_locations_path, :id => "nearby_ajax_address" %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var add_position_indicator = function() {
  GeoMarker = new GeolocationMarker()
  GeoMarker.setCircleOptions({fillColor: '#808080'})
  GeoMarker.setMap(Gmaps.map.map)
}

var initial_center_found = false
var map_idle = function() {
  if(!initial_center_found) {
    lctn = Gmaps.map.map.getCenter()
    window.Yumster.Locations.Near.fillNearbyLocations(lctn.lat(), lctn.lng())
    add_position_indicator()
    window.Yumster.Locations.Near.updateAddressPosition(lctn.lat(), lctn.lng())
  }
  initial_center_found = true
}

Gmaps.map.callback = function() {
  google.maps.event.addListener(Gmaps.map.map, 'idle', map_idle)
}

  </script>
<% end %>
