<h2>Nearby Locations</h2>
<br>
<div class="map_container">
  <div id="map_canvas"></div>
</div>
<br>
<div id="locations_container"></div>
<div id="location_container" style="display: none;">
  <div class="location well">
    <div style="display: inline;"><img class="location_marker" /></div>
    <div style="display: inline;">
      <a class="location_link">link</a><br>
      Category: <span class="location_category"></span>
    </div>
    <br>
  </div>
</div>

<%= link_to "", near_locations_path, :id => "nearby_ajax_address" %>

<% content_for :scripts do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var GeoMarker
var addPositionIndicator = function(map) {
  if(!GeoMarker) {
    GeoMarker = new GeolocationMarker()
    GeoMarker.setCircleOptions({fillColor: '#808080'})
    GeoMarker.setMap(map)
  }
}

var init = function() {
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  })
  addPositionIndicator(map)
  window.Yumster.Locations.Near.setMap(map)
  var success = function(latitude, longitude, coordinatesOnURL) {
    var loc = new google.maps.LatLng(latitude, longitude)
    map.setCenter(loc)
    window.Yumster.Locations.Near.fillNearbyLocations(latitude, longitude)
    if(!coordinatesOnURL) {
      window.Yumster.Locations.Near.updateURLLatLong(latitude, longitude)
    }
  }
  var failure = function(error) {
    console.log("Error placing map: ", error)
  }
  window.Yumster.Locations.Near.getMapCenter(success, failure)
}
google.maps.event.addDomListener(window, 'load', init)
  </script>
<% end %>
