<h2>Nearby Locations</h2>
<br>
<div class="row-fluid">
  <div class="span6 pull-right">
    <div class="input-append map_address_search">
      <input id="map_address_input" type="text" placeholder="Move to an address">
      <button id="map_address_button" class="btn" type="button">Go</button>
    </div>
    <div class="map_container">
      <div id="map_canvas"></div>
    </div>
    <a class="btn disabled" id="map_reload" href="#" onclick="window.Yumster.Locations.Near.searchHere()"><i class="icon-repeat"></i> Search Here</a>
  </div>
  <div class="span6 pull-left no-left-margin">
    <ul id="nearby_results">
    </ul>
  </div>
</div>

<div style="display: none">
  <div id="map_recenter"><%= image_tag "recenter.png" %></div>
  <%= link_to "", near_locations_path, :id => "nearby_ajax_address" %>
</div>

<% content_for :scripts do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">
// Add user's location dot to map
var geoMarker
var addPositionIndicator = function(map) {
  if(!geoMarker) {
    geoMarker = new GeolocationMarker()
    geoMarker.setCircleOptions({fillColor: '#808080'})
    geoMarker.setMap(map)
  }
  google.maps.event.addListenerOnce(geoMarker, 'position_changed', function() {
    // Return if map has been explicitly loaded at a location
    var urlparams = window.Yumster.Locations.Near.getMapParamsFromURL()
    if(urlparams[0] && urlparams[1] && urlparams[2]) {
      return
    }
    // No URL location found. Get current position off geomarker
    // and move map to there.
    pos = geoMarker.getPosition()
    window.Yumster.Locations.Near.geolocationCallback(pos.lat(), pos.lng())
  })
}

// Initialize Google Maps v3 API
var init = function() {
  // Set up map
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 15,
    center: new google.maps.LatLng(0, 0),
    streetViewControl: false,
    mapTypeControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  })

  // Set map window global
  window.Yumster.Locations.Map.setMap(map)

  // Get coordinates from URL, etc
  window.Yumster.Locations.Near.pageLoad()

  // add position indicator
  addPositionIndicator(map)

  // put recenter widget on map
  //window.Yumster.Locations.Map.recenterWithGeoMarker($('#map_recenter'), geoMarker)
  //window.Yumster.Locations.Map.recenterWithGeoMarker($('#map_recenter'), {})
  window.Yumster.Locations.Map.recenterWithGeoMarker(document.getElementById("map_recenter"), {})

  // Wait for map idle
  google.maps.event.addListenerOnce(map, 'idle', function() {
    // Add bounds changed listener
    google.maps.event.addListener(map, 'bounds_changed', function() {
      window.Yumster.Locations.Near.boundsChanged()
    })
    // TODO: start timer to display location not found error
  })
}
google.maps.event.addDomListener(window, 'load', init)

// Bind address search function to button
$(function() {
  window.Yumster.Locations.initializeAddressSearch(
    '#map_address_input',
    '#map_address_button',
    window.Yumster.Locations.Near.geolocationCallback)
})

  </script>
<% end %>
