<div class="row">
  <div class="offset1 span10">
    <h1><%= @location.description %></h1>
  </div>
</div>
<div class="row">
  <div class="span3 offset1">
    location: <%= @location.latitude %>, <%= @location.longitude %>
  </div>
  <div class="span6">
    <%= gmaps(@g4r_options) %>
  </div>
</div>

<br><br>
<br><br>
